*{
    font-family: 'Raleway', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}
/*Root and common element stylings*/
:root {
    --cscPurple: rgb(67, 0, 255);
    --cscTeal: rgb(19, 239,195);
    --cscGrey: rgb(128, 128, 128);
    --ltGrey: rgb(242,242,242);
}

h1, h2, h3{
    font-weight: 900;
    color: var(--cscPurple);
}

h1 {
    font-size: 38px;   
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

blockquote {
    font-size: 33px;
}

p {
    font-size: 17px;
}

a {
    color: var(--cscPurple);
    font-size: 17px;
}

/*styling for large screen devices*/

header {
    position: fixed;
    background-color: white;
    display: block;
    width: 100%;
}

.topBar {
    display: grid;
    grid-template-columns: 1fr 4fr 0fr;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;

}

.navButton {
    display: hidden;
}

.nav {
    float: right;
    text-align: center;
    padding-top: 50px;
}

.nav > a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.nav >a:hover {
    border-bottom: 5px solid var(--cscPurple);
}

.logo {
    max-width: 215px;
    max-height: 129px;
}

.container {
    display: inline-flex;
    margin-top: 130px;
}
