*{
    font-family: 'Raleway', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: black;
}
/*Root and common element stylings*/
:root {
    --cscPurple: rgb(67, 0, 255);
    --cscTeal: rgb(19, 239,195);
    --cscGrey: rgb(128, 128, 128);
    --ltGrey: rgb(242,242,242);
}

h1, h2, h3{
    font-weight: 900;
    color: var(--cscPurple);
}

h1 {
    font-size: 38px;   
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

blockquote {
    font-size: 33px;
}

p {
    font-size: 17px;
}

a {
    color: var(--cscPurple);
    font-size: 17px;
}

